<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MVC with Vanilla.JS</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div id="app">
      <header>
        <h2 class="container">검색</h2>
      </header>
      <div class="container">
        <search-form
          :value="query"
          @form-keyup="onKeyUp"
          @form-submit="onSubmit"
          @form-reset="onReset"
        > </search-form>
        <div v-show="!isSearch">
          <ul class="tabs">
            <li class="ad" @click="switchTab" :class="{ active : activeTab === 'ad'}">추천 검색어</li>
            <li class="recent" @click="switchTab" :class="{ active : activeTab === 'recent'}">최근 검색어</li>
          </ul>
          <tab-list type="keyword" v-if="activeTab === 'ad'">
            :list="keywordList"
            :stab="activeTab"
            :cs="clickSearch"
          </tab-list>
          <tab-list type="history" v-else>
            :list="HistoryList"
            :stab="activeTab"
            :cs="clickSearch"
          </tab-list>
        </div>
        <search-list
          :data="list"
          :qry="query"
        >
        </search-list>
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script type="module" src="app.js"></script>
  </body>
</html>

<template id="search-form">
  <form @submit.prevent="submit">
    <input type="text" v-model="inputValue" @keyUp="keyUp" placeholder="검색어">
    <input type="reset" v-show="inputValue.length" @click="reset" class="btn-reset" value="X">
  </form>
</template>

<template id="search-list">
  <ul class="search-list" v-if="data.length">
    <li v-for="item in data" :key="item.id">
      <img :src="item.image" :alt="item.name" />
      <span>{{item.name}}</span>
    </li>
  </ul>
</template>

<template id="tablist">
  <ul class="list">
    <li v-for="(item, index) in itemList" :key="index">
      <span v-show="stab === 'ad'" class="number"> {{index + 1}} </span>
      <span class="keyword" @click="clickSearch">{{item.keyword}}</span>
      <span v-show="stab === 'recent'" class="date">{{item.date}}</span>
      <button class="btn-remove" @click="onRemove(index)"></button>
    </li>
  </ul>
</template>
